//----------------------------------------------------
// / Variable
//----------------------------------------------------

$pjcolor-orange-01: #c96d18;
$pjcolor-green-01: #20e83b;
$pjcolor-brown-01: #160b0a;
$pjcolor-brown-02: #231817;
//$primary: $pjcolor-twist-blue;
//$font-sans: Nunito, YakuHanRPs, "Rounded Mplus 1c", sans-serif;

//----------------------------------------------------
// / Import (node modules)
//----------------------------------------------------

//-@import "~moftone/src/scss/tone/_moftone.scss";
@import "~sass-dashi/src/scss/_dashi.scss";
